* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, sans-serif;
  outline: none; }

body {
  font-size: 16px; }

li {
  list-style-type: none; }

a {
  color: inherit; }

a:hover {
  color: inherit;
  text-decoration: none; }

a:focus {
  text-decoration: none;
  color: inherit; }

.box-shadow, .no-risks .no-risks__container, .benefit .benefit__list {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1); }

.section-title, .benefits .benefits__title, .no-risks .no-risks__title, .clients .clients__title, .benefit .benefit__title {
  color: #2e9afe;
  margin: 0;
  margin-bottom: 2rem;
  font-size: 3em;
  font-weight: 300;
  text-align: center; }

.header {
  line-height: 80px;
  height: 80px;
  border-bottom: 1px solid #ededed;
  color: #999999; }

.logo-block {
  float: left; }

.nav-menu {
  float: right; }

.nav-menu__list {
  float: left; }

.nav-menu__item {
  display: inline-block;
  margin-right: 4rem; }

.nav-menu__link {
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); }
  .nav-menu__link:hover {
    color: #2e9afe; }

.nav-menu__item_support-btn {
  border: 2px solid rgba(46, 154, 254, 0.1);
  border-radius: .3em;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: #2e9afe; }

.benefits {
  padding-top: 80px;
  padding-bottom: 80px; }
  .benefits .benefits__flex-container {
    display: flex;
    flex-wrap: wrap; }
  .benefits .benefits__item {
    padding: 30px 0;
    height: 100%;
    border-bottom: 1px solid #ededed; }
  .benefits .benefits__item_no-border {
    border: 0; }
  .benefits .benefits__item-icon {
    text-align: center;
    height: 100px; }
  .benefits .benefits__item-title {
    font-size: 1.875em;
    line-height: 1em;
    margin-bottom: 1.5rem;
    font-weight: 300;
    color: #000; }
  .benefits .benefits__item-description {
    font-size: 0.875em;
    color: #999999; }

.no-risks {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative; }
  .no-risks:before {
    content: '';
    position: absolute;
    display: block;
    background-image: url(../img/no-risks-bg.png);
    background-size: cover;
    width: 50%;
    left: 0;
    top: 0;
    bottom: 0; }
  .no-risks .no-risks__container {
    padding: 4.375em;
    background: #fff; }
  .no-risks .no-risks__title {
    text-align: left; }
  .no-risks .no-risks__subtitle {
    font-size: 1.125em;
    color: #999999;
    margin-bottom: 1.5em; }
  .no-risks .no-risks__description {
    font-size: 0.875em;
    color: #cccccc; }

.clients {
  background: #fafafa;
  padding-top: 80px;
  padding-bottom: 80px; }
  .clients .clients__list {
    padding: 1em 0;
    margin: 0;
    display: flex;
    justify-content: space-around; }

.benefit {
  background: #fafafa; }
  .benefit .benefit__list {
    padding: 20px;
    padding-right: 0;
    width: 100%;
    display: table;
    z-index: 100;
    background: #fff; }
  .benefit .benefit__list-item {
    display: table-row;
    font-size: 1.5em; }
    .benefit .benefit__list-item:last-child .benefit__list-title {
      border: 0; }
  .benefit .benefit__list-icon,
  .benefit .benefit__list-title {
    display: table-cell;
    padding: 20px;
    line-height: 1;
    vertical-align: middle; }
  .benefit .benefit__list-icon {
    height: 70px;
    text-align: center; }
  .benefit .benefit__list-title {
    border-bottom: 1px solid #ededed; }
  .benefit .benefit__title {
    text-transform: capitalize;
    text-align: left; }
  .benefit .benefit__description {
    color: #999999;
    font-size: 0.875em;
    text-align: justify; }

.footer {
  color: #fff;
  background: #2e9afe;
  font-weight: 300;
  z-index: 10;
  padding-top: 8rem;
  margin-top: -6rem; }
  .footer .footer__nav {
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .footer .footer__nav-link {
    flex-shrink: 0; }
  .footer .footer__socials {
    text-align: right; }
  .footer .footer__socials-link {
    display: inline-block;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #55adfe; }
  .footer .footer__logo,
  .footer .footer__nav {
    padding: 30px 0; }
  .footer .footer__socials {
    padding: 26px 0; }
  .footer .footer__copyright-container {
    border-top: 1px solid #55adfe; }
  .footer .footer__copyright {
    padding: 15px 0; }

/*# sourceMappingURL=style.css.map */
