/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, sans-serif;
  outline: none; }

body {
  font-size: 16px; }

li {
  list-style-type: none; }

a {
  color: inherit; }

a:hover {
  color: inherit;
  text-decoration: none; }

a:focus {
  text-decoration: none;
  color: inherit; }

.box-shadow, .benefit .benefit__list {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1); }

/* HEADER */
.header {
  line-height: 80px;
  height: 80px;
  border-bottom: 1px solid #ededed;
  color: #999999; }

.logo-block {
  float: left; }

.nav-menu {
  float: right; }

.nav-menu__list {
  float: left;
  margin: 0; }

.nav-menu__item {
  display: inline-block;
  margin-right: 4rem; }

.nav-menu__link {
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); }
  .nav-menu__link:hover {
    color: #2e9afe; }

.nav-menu__item_support-btn {
  border: 2px solid rgba(46, 154, 254, 0.1);
  border-radius: .3em;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: #2e9afe; }

/* PAGE TITLE BLOCK */
.page-title {
  margin-top: 80px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f5f6fa 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f5f6fa 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f5f6fa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f6fa',GradientType=0 );
  /* IE6-9 */ }

.page-title__image {
  width: calc(100% + 5px);
  margin-top: 60px; }

.page-title__title {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  color: #2e9afe; }

.page-title__descr {
  color: #999999;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center; }

/* PRODUCTS TABS BLOCK */
.products-tabs {
  background: #fff; }

.products-tabs__nav {
  display: flex; }

.products-tabs__nav-item.active {
  border-bottom: 2px solid #2e9afe;
  color: #2e9afe; }
  .products-tabs__nav-item.active .products-tabs__nav-item-link {
    color: #2e9afe !important; }

.products-tabs__nav-item-link {
  border: none !important;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.products-tabs__tab-content-item {
  padding-top: 80px; }

.products-tabs__video-block {
  width: 100%;
  height: 440px;
  background: #f3f3f3; }

.products-tabs__product-drscr-title {
  font-size: 4.8rem;
  font-weight: 300;
  color: #2e9afe;
  margin-bottom: 50px; }

.products-tabs__descr-descr-text {
  font-size: 1.4rem;
  color: #999999; }

.products-tabs__descr-list-item {
  margin-bottom: 2rem;
  padding-left: 3.8rem;
  position: relative; }
  .products-tabs__descr-list-item:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: .6rem;
    top: .6rem;
    height: .6rem;
    width: .6rem;
    background: #2e9afe;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 6px rgba(46, 154, 254, 0.1); }

.benefit {
  background: #fff; }
  .benefit .benefit__list {
    padding: 20px;
    padding-right: 0;
    width: 100%;
    display: table;
    z-index: 100;
    background: #fff; }
  .benefit .benefit__list-item {
    display: table-row;
    font-size: 1.5em; }
    .benefit .benefit__list-item .benefit__list-icon,
    .benefit .benefit__list-item .benefit__list-title {
      display: table-cell;
      padding: 20px;
      line-height: 1;
      vertical-align: middle; }
    .benefit .benefit__list-item .benefit__list-icon {
      height: 70px;
      text-align: center; }
    .benefit .benefit__list-item .benefit__list-title {
      border-bottom: 1px solid #ededed; }
    .benefit .benefit__list-item:last-child .benefit__list-title {
      border: 0; }
  .benefit .benefit__title {
    color: #2e9afe;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 2rem;
    font-size: 3em;
    font-weight: 300; }
  .benefit .benefit__description {
    color: #999999;
    font-size: 0.875em;
    text-align: justify; }

.footer {
  color: #fff;
  background: #2e9afe;
  font-weight: 300;
  z-index: 10;
  padding-top: 8rem;
  margin-top: -6rem; }
  .footer .footer__nav {
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .footer .footer__nav-link {
    flex-shrink: 0; }
  .footer .footer__socials {
    text-align: right; }
  .footer .footer__socials-link {
    display: inline-block;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #55adfe; }
  .footer .footer__logo,
  .footer .footer__nav {
    padding: 30px 0; }
  .footer .footer__socials {
    padding: 26px 0; }
  .footer .footer__copyright-container {
    border-top: 1px solid #55adfe; }
  .footer .footer__copyright {
    padding: 15px 0; }

/*# sourceMappingURL=style.css.map */
