$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;



$accent:				#2e9afe;
$light-accent:			#55adfe;
$gray:					#f3f3f3;
$light-gray:			#fafafa;
$white:					#fff;
$black:					#000;
$font-color-basic: 		#999999; //nav menu
$font-color-title: 		#010101; //benefits
$font-color-lightgray: 	#cccccc; //no risk no problem
$border-color:			#ededed;