<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="WordPress Rule 4" stopProcessing="true">
          <match url="^(wp-(content|admin|includes).*)" ignoreCase="false"/>
          <action type="Rewrite" url="{R:1}"/>
        </rule>
        <rule name="WordPress Rule 5" stopProcessing="true">
          <match url="^([_0-9a-zA-Z-]+/)?(.*\.php)$" ignoreCase="false"/>
          <action type="Rewrite" url="{R:2}"/>
        </rule>
        <rule name="WordPress Rule 6" stopProcessing="true">
          <match url="." ignoreCase="false"/>
          <action type="Rewrite" url="index.php"/>
        </rule>
        <rule name="wordpress" patternSyntax="Wildcard">
          <match url="*"/>
          <conditions>
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="index.php"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>