.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";

@media (min-width: 992px) and (max-width: 1200px){
	.main-navigation{
		.nav-menu{
			.nav-menu__list{
				li{
					// .nav-menu__item
					margin-right: 1rem;
				}
			}
		}
	}
}
// @media screen and (min-width: 37.5em) {
@media (max-width: 991px) {
	/* Small menu. */
	.menu-toggle,
	.main-navigation.toggled ul {
		display: block;
	}
	.main-navigation ul {
		display: none;
	}
	.nav-menu {
		width: 100%;
	}
	.main-navigation .nav-menu .nav-menu__list{
		padding-left: 5%;
		background: #fff;
	}
	.main-navigation .nav-menu .nav-menu__list li {
		margin-right: 1rem;
	}
}
@media (max-width: 800px) and (orientation: landscape){
	.main-navigation .nav-menu .nav-menu__list ul.sub-menu li{
		line-height: 1;
	}
}
@media (max-width: 740px) {
	.main-navigation .nav-menu .nav-menu__list{
		padding-left: 2%;
	}
}

@media (max-width: 670px) {
	/* Small menu. */
	.main-navigation .nav-menu .nav-menu__list li {
		width: 100%;
		text-align: center;
		line-height: 4;
	}
	.main-navigation.toggled li:nth-child(2).focus ul.sub-menu,
	.main-navigation .nav-menu .nav-menu__list li:nth-child(2):hover ul.sub-menu{
		left: calc(50% - 140px);
	}
	.main-navigation .nav-menu .nav-menu__list ul.sub-menu li{
		width: 56px;
	}
}