// colors
$accent:				#2e9afe;
$light-accent:			#43a5ff;
$gray:					#f3f3f3;
$white:					#fff;
$font-color-basic: 		#999999; //nav menu
$font-color-title: 		#010101; //benefits
$font-color-lightgray: 	#cccccc; //no risk no problem
$border-bottom-color: 	#ededed;