/* Main menu */
.nav-menu {
	float: right;
}
.nav-menu__list {
	float: left;
	margin: 0;
}
.nav-menu__item {
	display: inline-block;
	margin-right: 4rem;
	&:last-child {
		margin: 0;
	}
}
.nav-menu__link {
	@include animate(.4s);
	&:hover {
		color: $accent;
	}
}
.nav-menu__link.dropdown {
	line-height: 2;
	cursor: pointer;
	.dropdown-menu {
		border: none;
		border-radius: 0;
		min-width: auto;
		li {
			width: 100px;
			a {
				color: $font-color-basic !important;
				text-align: center;
				padding: 10px 20px;
			}
		}
	}
}
.nav-menu__item_support-btn {
	border: 2px solid transparentize($accent, 0.9);
	border-radius: .3em;
	padding: 1rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	color: $accent;
}

/* Mobile main menu */
.nav-menu-mobile {
	float: right;
	font-size: 24px;
	color: #2e9afe;
	.glyphicon {
		line-height: 80px;
		top: auto;
	}
	.dropdown-menu {
		right: 0;
		left: auto;
		border: none;
		border-radius: 0;
		min-width: auto;
		padding: 2rem;
		top: 65px;
		.dropdown-submenu {
			position: relative;
			.dropdown-menu {
				right: 90%;
			}
		}
		a {
			color: $font-color-basic !important;
			text-align: center;
			font-size: 2.5rem;
			line-height: 5rem;
		}
	}
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
