$icomoon-font-path: "fonts" !default;

$icon-phone-outline: "\e900";
$icon-clock: "\e94e";
$icon-keyboard_arrow_right: "\e315";
$icon-menu: "\e5d2";
$icon-twitter: "\f099";
$icon-linkedin: "\f0e1";
$icon-eye: "\e901";

