@import "variables";

@font-face {
  font-family: 'marc-icons';
  src:  url('#{$icomoon-font-path}/marc-icons.eot?8j3r6p');
  src:  url('#{$icomoon-font-path}/marc-icons.eot?8j3r6p#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/marc-icons.ttf?8j3r6p') format('truetype'),
    url('#{$icomoon-font-path}/marc-icons.woff?8j3r6p') format('woff'),
    url('#{$icomoon-font-path}/marc-icons.svg?8j3r6p#marc-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'marc-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone-outline {
  &:before {
    content: $icon-phone-outline;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-arrow_back {
  &:before {
    content: $icon-arrow_back;
  }
}
.icon-arrow_forward {
  &:before {
    content: $icon-arrow_forward;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-keyboard_arrow_right {
  &:before {
    content: $icon-keyboard_arrow_right;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-vk {
  &:before {
    content: $icon-vk;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}

