$icomoon-font-path: "fonts" !default;

$icon-phone-outline: "\e900";
$icon-clock: "\e94e";
$icon-arrow_back: "\e5c4";
$icon-arrow_forward: "\e5c8";
$icon-close: "\e5cd";
$icon-keyboard_arrow_right: "\e315";
$icon-menu: "\e5d2";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-google-plus: "\f0d5";
$icon-linkedin: "\f0e1";
$icon-vk: "\f189";
$icon-pinterest: "\f231";
$icon-eye: "\e901";

